#app_code {
  width: 500px;
  height: 300px;
  visibility: hidden;
}

#editor_container {
  background-color: #EEE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 8px;
  width: 506px;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
#editor_condainer.with_slider { height: 326px; }
#editor_condainer.without_slider { height: 306px; }

#commit_slider {
  height: 10px;
  margin-bottom: 8px;
}

#commit_slider .ui-slider-handle {
  height: 18px;
}


#main_column {
  display: inline-block;
  vertical-align: top;
  width: 550px;
}

#sidebar {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.alert {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: white;
  padding: 4px 10px;
}

.alert p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.alert input[type=text] {
  width: 100%;
}

#authenticate.alert {
  background-color: orange;
}

#app_name.alert {
  background-color: green;
}

#app_info.alert {
  background-color: teal;
}




.button {
  font-size: 1.1em;
  border: 1px solid #CCC;
  background: url('/images/button_background.png');
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 4px 20px;
  text-shadow: 1px 1px 1px #CCC;;
  color: #222;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: none;
  background-color: #DDD;
  color: #111;
  text-shadow: 1px 1px 1px white;
}


