#app_code {
  width: 500px;
  height: 300px;
  visibility: hidden;
}

#editor_container {
  background-color: #EEE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 6px 8px 8px 8px;
  width: 506px;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
#editor_container.with_slider { height: 326px; }
#editor_container.without_slider { height: 306px; }

.off { display: none; }

#commit_slider {
  height: 10px;
  margin-top: 4px;
  margin-bottom: 11px;
  display: inline-block;
}

#commit_slider .ui-slider-handle {
  height: 18px;
}

#commit_slider.with_changes { width: 435px; }
#commit_slider.without_changes { width: 470px; }

a#save_button {
  float: right;
  margin-bottom: 2px;
  margin-top: -1px;
  margin-left: 15px;
  width: 40px;
  text-align: center;
}

#changes {
  margin: 0 0 0 405px;
  width: 100px;
  text-align: center;
  padding: 4px 4px 0 4px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  color: #444;
  font-size: 0.8em;
  background-color: red;
  color: white;
  border-bottom: 2px solid #E00;
}


#main_column {
  display: inline-block;
  vertical-align: top;
  width: 550px;
}

#sidebar {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.alert {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: white;
  padding: 4px 10px;
}

.alert p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.alert input[type=text] {
  width: 100%;
}

#authenticate.alert {
  background-color: orange;
}

#app_name.alert {
  background-color: green;
}

#app_info.alert {
  background-color: teal;
}




.button {
  font-size: 1.1em;
  border: 1px solid #CCC;
  background: url('/images/button_background.png');
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 4px 20px;
  text-shadow: 1px 1px 1px #CCC;;
  color: #222;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: none;
  background-color: #DDD;
  color: #111;
  text-shadow: 1px 1px 1px white;
}

.button.small {
  font-size: 0.9em;
  padding: 1px 5px;
}





