<h1><%= @user.login %></h1>

<h2>Apps</h2>

<% @user.apps.each do |app| %>
  <li><%= link_to app.to_s, app_path(app) %></li>
<% end %>

<% @user.stories.each do |story| %>
  <p><%= story.body %></p>
<% end %>
