body {
  font-family: sans-serif, sans, Helvetica;
  margin: 0;
}

#top_bar {
  width: 800px;
  margin: 0 auto 1em auto;
  background-color: #555;
  border-bottom: 1px solid #333;
  padding: 4px 10px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

#top_bar, #top_bar a {
  color: white;
}

#top_bar img {
  vertical-align: -20%;
}

#account_stuff {
  float: right;
}

#page {
  width: 800px;
  margin: 0 auto;
}

.errors {
  text-align: center;
  width: 500px;
  border: 1px solid red;
  margin: 2em auto;
  padding: 5px 10px;
}

.field_with_errors {
  display: inline;
}

.field_with_errors input {
  background-color: pink;
}